@model HMS.Areas.Dashboard.ViewModels.UsersListingModel

@if (Model != null && Model.Users != null && Model.Users.Count() > 0)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">Full Name</th>
				<th scope="col">Email</th>
				<th scope="col">Username</th>
				<th scope="col">Roles</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var user in Model.Users)
			{
				<tr>
					<td>
						@user.FullName
					</td>
					<td>
						@user.Email
					</td>
					<td>
						@user.UserName
					</td>
					<td>
						@user.Roles.Count
					</td>
					<td>
						<button data-href="@Url.Action("Action", "Users", new { ID = user.Id })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i> Edit</button>
						<button data-href="@Url.Action("Delete", "Users", new { ID = user.Id })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
						<button data-href="@Url.Action("UserRoles", "Users", new { ID = user.Id })" type="button" class="data-btn btn btn-info" data-toggle="modal" data-target="#actionModal"><i class="fas fa-user-shield mr-1"></i> Roles</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

	if (Model.Pager.EndPage > 1)
	{
		<nav>
			<ul class="pagination">
				@if (Model.Pager.CurrentPage > 1)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Users", new { page = 1, searchTerm = Model.SearchTerm, RoleID = Model.RoleID })">
							<i class="fas fa-angle-double-left"></i>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Users", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm, RoleID = Model.RoleID })">
							<i class="fas fa-angle-left"></i>
						</a>
					</li>
				}

				@for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					<li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", "Users", new { page = page, searchTerm = Model.SearchTerm, RoleID = Model.RoleID })">@page</a>
					</li>
				}

				@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Users", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm, RoleID = Model.RoleID })">
							<i class="fas fa-angle-right"></i>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Users", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm, RoleID = Model.RoleID })">
							<i class="fas fa-angle-double-right"></i>
						</a>
					</li>
				}
			</ul>
		</nav>
	}
}
else
{
	<div class="alert alert-warning" role="alert">
		Sorry! No records exist.
	</div>
}