@model HMS.Areas.Dashboard.ViewModels.UsersListingModel

<div class="row">
	<div class="col col-lg-12">
		<h2>Users (@Model.Pager.TotalItems)</h2>
		<hr />
	</div>
</div>

<div class="row mb-3">
	<div class="col col-lg-12">
		<form>
			<div class="input-group">
				<input type="text" name="searchterm" class="form-control" placeholder="Search." value="@Model.SearchTerm">

				@if (Model.Roles != null && Model.Roles.Count() > 0)
				{
					<select name="RoleID" class="form-control">
						<option value="0">
							Select Role
						</option>
						@foreach (var role in Model.Roles)
						{
							<option value="@role.Id" @(role.Id == Model.RoleID ? "selected" : string.Empty)>
								@role.Name
							</option>
						}
					</select>
				}
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit"><i class="fas fa-search mr-1"></i> Search</button>
					<a class="btn btn-outline-secondary" href="@Url.Action("Index", "Users")"><i class="fas fa-redo-alt mr-1"></i> Reset</a>
					<button data-href="@Url.Action("Action", "Users")" class="data-btn btn btn-outline-success" type="button" data-toggle="modal" data-target="#actionModal"><i class="fas fa-plus mr-1"></i> Create</button>
				</div>
			</div>
		</form>
	</div>
</div>

<div class="row">
	<div class="col col-lg-12">
		@{
			Html.RenderPartial("_Listing", Model);
		}
	</div>
</div>

<div class="modal fade" id="actionModal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
	</div>
</div>

<script>
	$(".data-btn").click(function () {
		$.ajax({
			url: $(this).attr("data-href"),
		})
		.done(function (response) {
			$("#actionModal .modal-dialog").html(response);
		});
	});
</script>