@model HMS.Areas.Dashboard.ViewModels.RolesListingModel

@if (Model != null && Model.Roles != null && Model.Roles.Count() > 0)
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th scope="col">ID</th>
				<th scope="col">Name</th>
				<th scope="col">Users</th>
				<th scope="col">Actions</th>
			</tr>
		</thead>
		<tbody>

			@foreach (var role in Model.Roles)
			{
				<tr>
					<td>
						@role.Id
					</td>
					<td>
						@role.Name
					</td>
					<td>
						@role.Users.Count
					</td>
					<td>
						<button data-href="@Url.Action("Action", "Roles", new { ID = role.Id })" type="button" class="data-btn btn btn-primary" data-toggle="modal" data-target="#actionModal"><i class="fas fa-pen mr-1"></i> Edit</button>
						<button data-href="@Url.Action("Delete", "Roles", new { ID = role.Id })" type="button" class="data-btn btn btn-danger" data-toggle="modal" data-target="#actionModal"><i class="fas fa-trash-alt mr-1"></i> Delete</button>
					</td>
				</tr>
			}
		</tbody>
	</table>

	if (Model.Pager.EndPage > 1)
	{
		<nav>
			<ul class="pagination">
				@if (Model.Pager.CurrentPage > 1)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Roles", new { page = 1, searchTerm = Model.SearchTerm })">
							<i class="fas fa-angle-double-left"></i>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Roles", new { page = Model.Pager.CurrentPage - 1, searchTerm = Model.SearchTerm })">
							<i class="fas fa-angle-left"></i>
						</a>
					</li>
				}

				@for (var page = Model.Pager.StartPage; page <= Model.Pager.EndPage; page++)
				{
					<li class="page-item @(page == Model.Pager.CurrentPage ? "active" : "")">
						<a class="page-link" href="@Url.Action("Index", "Roles", new { page = page, searchTerm = Model.SearchTerm })">@page</a>
					</li>
				}

				@if (Model.Pager.CurrentPage < Model.Pager.TotalPages)
				{
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Roles", new { page = Model.Pager.CurrentPage + 1, searchTerm = Model.SearchTerm })">
							<i class="fas fa-angle-right"></i>
						</a>
					</li>
					<li class="page-item">
						<a class="page-link" href="@Url.Action("Index", "Roles", new { page = Model.Pager.TotalPages, searchTerm = Model.SearchTerm })">
							<i class="fas fa-angle-double-right"></i>
						</a>
					</li>
				}
			</ul>
		</nav>
	}
}
else
{
	<div class="alert alert-warning" role="alert">
		Sorry! No records exist.
	</div>
}